<h1><%= @user.name %></h1>
<h1><%= @user.email %></h1>
<div class="secrets">
  <h3>Secrets</h3>
  <!-- for loop for each secret -->
  <p>content of secret</p>
  <p>number of likes</p>
  <button type="button" name="button">delete made secret</button>
</div>
<div class="liked">
  <h3>Secrets Liked</h3>
  <!-- for loop for each secret liked -->
  <p>content of secret</p>
  <p>number of likes</p>
</div>
<a href="<%= edit_user_path @user.id %>">Update Account</a>
